@model IEnumerable<Blog.Application.Dto.SettingDto.SettingGroupListDto>
@{
	ViewBag.Title = "Blog Ayarları";
	Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";

	var generalSetting = Model.FirstOrDefault(s => s.SettingGroupKey.Equals("GeneralSettings"));
	var maillSetting = Model.FirstOrDefault(s => s.SettingGroupKey.Equals("EmailSettings"));
}

<div class="wrapper">
	<div class="grid">
		<!--Genel ayarlar-->
		<div class="col-8">
			<div class="card">
				<div class="card-header">
					<h4>Genel Ayarlar</h4>
				</div>
				<div class="card-body pd">

					<div class="tab" data-tab="tab">
						<!--Tab Menü-->
						<div class="tab-menu-fixed">
							<div class="tab-menu-item active">
								<a href="javascript:void(0)" data-tab-target="#general-setting">
									<i class="cdi cdi-admin-generic"></i> Genel Site
								</a>
							</div>
							<div class="tab-menu-item">
								<a href="javascript:void(0)" data-tab-target="#article-setting">
									<i class="cdi cdi-edit"></i> Makale
								</a>
							</div>
							<div class="tab-menu-item">
								<a href="javascript:void(0)" data-tab-target="#image-setting">
									<i class="cdi cdi-cloud-upload"></i> Dosya Yükleme
								</a>
							</div>
							<div class="tab-menu-item">
								<a href="javascript:void(0)" data-tab-target="#mail-setting">
									<i class="cdi cdi-email-alt2"></i> E-Posta
								</a>
							</div>
							<div class="tab-menu-item">
								<a href="javascript:void(0)" data-tab-target="#comment-setting">
									<i class="cdi cdi-admin-comments"></i> Yorum
								</a>
							</div>
							<div class="tab-menu-item">
								<a href="javascript:void(0)" data-tab-target="#paging-setting">
									<i class="cdi cdi-admin-links"></i> Sayfalama
								</a>
							</div>
						</div>
						<!--Tab Menü-->
						<!--Tab İçerik-->
						<div class="tab-content">
							<!--Genel Ayarlar içeriği-->
							<div class="tab-item show" id="general-setting">
								<div class="form-group">
									<label class="label"><strong>Site URL</strong></label>
									<input type="text" name="SiteUrl" class="input" value="@generalSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("Url"))?.Value" />
									<span class="vld-UserPaging"></span>
								</div>
								<div class="form-group">
									<label class="label"><strong>Site Başlığı</strong></label>
									<input type="text" name="SiteTitle" class="input" value="@generalSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("Title"))?.Value" />
									<span class="vld-UserPaging"></span>
								</div>
								<div class="form-group">
									<label class="label"><strong>Site Slogan</strong></label>
									<input type="text" name="SiteComment" class="input" value="@generalSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("Slogan"))?.Value" />
									<span class="vld-UserPaging"></span>
								</div>
								<div class="form-group">
									<label class="label"><strong>Site Açıklama</strong></label>
									<textarea name="SiteDescription" class="input">@generalSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("Description"))?.Value</textarea>
									<span class="vld-UserPaging"></span>
								</div>
								<div class="form-group text-center">
									<input type="submit" class="btn btn-blue" value="Kaydet" />
								</div>
							</div>
							<!--Genel Ayarlar içeriği-->
							<!--Makale Ayarları-->
							<div class="tab-item" id="article-setting">
								<div class="form-group">
									<label class="label"><strong>Varsayılan Kategori</strong></label>
									<select class="input">
										<option>Genel</option>
									</select>
									<span class="vld-EmailAddress"></span>
								</div>
								<div class="form-group">
									<label class="label"><strong>Yorum Gösterim</strong></label>
									<label class="label">
										<input type="checkbox" />&nbsp;&nbsp;&nbsp;Yorumlar yönetici onayından sonra yayınlansın.
									</label>
								</div>

								<div class="form-group text-center">
									<input type="submit" class="btn btn-blue" value="Kaydet" />
								</div>
							</div>
							<!--Makale Ayarlar-->
							<!--Resim Yükleme Ayarları-->
							<div class="tab-item" id="image-setting">
								<div class="form-group">
									<label class="label"><strong>Dosya Yükleme Yeri (Genel Dizin)</strong></label>
									<input type="text" name="SiteUrl" class="input" />
									<span class="vld-UserPaging"></span>
								</div>
								<div class="form-group">
									<label class="label"><strong>Dizin Şekli</strong></label>
									<label class="label">
										<input type="checkbox" />&nbsp;&nbsp;&nbsp;Yüklemeleri aylık -ve yıllık- bazda klasörlerde tut.
									</label>
								</div>
								<div class="form-group">
									<h5 >Görsel Boyutları</h5>
								</div>
								<div class="form-group">
									<label class="label"><strong>Küçük Resim (Thumbnail)</strong></label>
									<div class="input-group">
										<input type="text" name="small" class="input" placeholder="Genişlik" />
										<div class="group-text">
											<i class="cdi cdi-no-alt"></i>
										</div>
										<input type="text" name="small" class="input" placeholder="Yükseklik" />
									</div>
									<span class="vld-small"></span>
								</div>
								<div class="form-group">
									<label class="label"><strong>Orta Resim</strong></label>
									<div class="input-group">
										<input type="text" name="small" class="input" placeholder="Genişlik" />
										<div class="group-text">
											<i class="cdi cdi-no-alt"></i>
										</div>
										<input type="text" name="small" class="input" placeholder="Yükseklik" />
									</div>
									<span class="vld-medium"></span>
								</div>
								<div class="form-group">
									<label class="label"><strong>Büyük Resim</strong></label>
									<div class="input-group">
										<input type="text" name="small" class="input" placeholder="Genişlik" />
										<div class="group-text">
											<i class="cdi cdi-no-alt"></i>
										</div>
										<input type="text" name="small" class="input" placeholder="Yükseklik" />
									</div>
									<span class="vld-big"></span>
								</div>

								

								<div class="form-group text-center">
									<input type="submit" class="btn btn-blue" value="Kaydet" />
								</div>
							</div>
							<!--Resim Yükleme Ayarları-->
							<!--Mail Ayarları-->
							<div class="tab-item" id="mail-setting">
								<div class="form-group">
									<label class="label"><strong>E-Posta Sunucusu</strong></label>
									<input type="text" name="EmailAddress" class="input" value="@maillSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("Host")).Value" />
									<span class="vld-EmailAddress"></span>
								</div>
								<div class="form-group">
									<label class="label"><strong>E-Posta Adresi</strong></label>
									<input type="text" name="EmailAddress" class="input" value="@maillSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("From")).Value" />
									<span class="vld-EmailAddress"></span>
								</div>
								<div class="form-group">
									<label class="label"><strong>E-Posta Şifresi</strong></label>
									<input type="password" name="EmailPassword" class="input" value="@maillSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("Password")).Value" />
									<span class="vld-EmailPassword"></span>
								</div>
								<div class="form-group">
									<label class="label"><strong>E-Posta Sunucu Port Numarası</strong></label>
									<input type="password" name="EmailPassword" class="input" value="@maillSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("Port")).Value"/> 
									<span class="vld-EmailPassword"></span>
								</div>

								<div class="form-group text-center">
									<input type="submit" class="btn btn-blue" value="Kaydet" />
								</div>
							</div>
							<!--Mail Ayarları-->
							<!--Yorum Ayarları-->
							<div class="tab-item" id="comment-setting">
								<div class="form-group">
									<label class="label"><strong>Yorum Gösterim</strong></label>
									<label class="label">
										<input type="checkbox" />&nbsp;&nbsp;&nbsp;Yorumlar yönetici onayından sonra yayınlansın.
									</label>
								</div>

								<div class="form-group text-center">
									<input type="submit" class="btn btn-blue" value="Kaydet" />
								</div>
							</div>
							<!--Yorum Ayarları-->
							<!--Sayfalama Ayarları-->
							<div class="tab-item" id="paging-setting">
								<div class="form-group">
									<label class="label"><strong>Kullanıcı Sayfalama Değeri</strong></label>
									<input type="text" name="UserPaging" class="input" />
									<span class="vld-UserPaging"></span>
								</div>
								<div class="form-group">
									<label class="label"><strong>Admin Sayfalama Değeri</strong></label>
									<input type="text" name="AdminPaging" class="input" />
									<span class="vld-AdminPaging"></span>
								</div>

								<div class="form-group text-center">
									<input type="submit" class="btn btn-blue" value="Kaydet" />
								</div>
							</div>
							<!--Sayfalama Ayarları-->
						</div>
						<!--Tab İçerik-->
					</div>

				</div>
			</div>
		</div>
		<!--Genel ayarlar-->
		<!--Genel ayarlar-->
		<div class="col-4">
			Buraya ne yazacağız??
		</div>
		<!--Genel ayarlar-->

	</div>
</div>