@model IEnumerable<Blog.Application.Dto.SettingDto.SettingGroupListDto>
@{
    ViewBag.Title = "Blog Ayarları";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";

    var generalSetting = Model.FirstOrDefault(s => s.SettingGroupKey.Equals("GeneralSettings"));
    var articleSetting = Model.FirstOrDefault(s => s.SettingGroupKey.Equals("ArticleSettings"));
    var fileUploadSetting = Model.FirstOrDefault(s => s.SettingGroupKey.Equals("FileUploadSettings"));
    var maillSetting = Model.FirstOrDefault(s => s.SettingGroupKey.Equals("EmailSettings"));
    var commentSetting = Model.FirstOrDefault(s => s.SettingGroupKey.Equals("CommentSettings"));
    var pagingSetting = Model.FirstOrDefault(s => s.SettingGroupKey.Equals("PagingSettings"));
}

<div class="breadcrumbs">
    <h4>Blog Ayarları</h4>
    <ul>
        <li><a asp-route="AdminHome">Anasayfa</a></li>
        <li>
            <i class="fa-duotone fa-angle-right fa-fw fc-blue"></i>
        </li>
        <li>Blog Ayarları</li>
    </ul>
</div>

<div class="wrapper">
    <div class="grid">
        <!--Genel ayarlar-->

        <div class="col-8">
            <div class="tab tab-bg soft-border" data-tab="tab">
                <!--Tab Menü-->
                <div class="tab-menu-fixed">
                    <div class="tab-menu-item active">
                        <a href="javascript:void(0)" data-tab-target="#general-setting">
                            <i class="fa-duotone fa-grid-2 fa-fw fc-blue fs-15"></i>
                            Genel Site
                        </a>
                    </div>
                    <div class="tab-menu-item">
                        <a href="javascript:void(0)" data-tab-target="#article-setting">
                            <i class="fa-duotone fa-pen-clip fa-fw fc-blue fs-15"></i>
                            Makale
                        </a>
                    </div>
                    <div class="tab-menu-item">
                        <a href="javascript:void(0)" data-tab-target="#image-setting">
                            <i class="fa-duotone fa-upload fa-fw fc-blue fs-15"></i>
                            Dosya Yükleme
                        </a>
                    </div>
                    <div class="tab-menu-item">
                        <a href="javascript:void(0)" data-tab-target="#mail-setting">
                            <i class="fa-duotone fa-envelopes fa-fw fc-blue fs-15"></i>
                            E-Posta
                        </a>
                    </div>
                    <div class="tab-menu-item">
                        <a href="javascript:void(0)" data-tab-target="#comment-setting">
                            <i class="fa-duotone fa-comments fa-fw fc-blue fs-15"></i>
                            Yorum
                        </a>
                    </div>
                    <div class="tab-menu-item">
                        <a href="javascript:void(0)" data-tab-target="#paging-setting">
                            <i class="fa-duotone fa-grip fa-fw fc-blue fs-15"></i>
                            Sayfalama
                        </a>
                    </div>
                </div>
                <!--Tab Menü-->
                <!--Tab İçerik-->
                <div class="tab-content">
                    <!--Genel Ayarlar içeriği-->
                    <div class="tab-item show" id="general-setting">
                        <form asp-action="SaveGeneralSettings" method="post" id="general-settings-form">
                            <div class="form-group">
                                <label class="label"><strong>Site URL</strong></label>
                                <input type="text" name="SiteUrl" class="input" value="@generalSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("SiteUrl")).Value" />
                                <span class="vld-SiteUrl"></span>
                            </div>
                            <div class="form-group">
                                <label class="label"><strong>Site Başlığı</strong></label>
                                <input type="text" name="SiteTitle" class="input" value="@generalSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("SiteTitle")).Value" />
                                <span class="vld-SiteTitle"></span>
                            </div>
                            <div class="form-group">
                                <label class="label"><strong>Site Slogan</strong></label>
                                <input type="text" name="SiteSlogan" class="input" value="@generalSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("SiteSlogan")).Value" />
                                <span class="vld-SiteSlogan"></span>
                            </div>
                            <div class="form-group">
                                <label class="label"><strong>Site Açıklama</strong></label>
                                <textarea name="SiteDescription" class="input">@generalSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("SiteDescription")).Value</textarea>
                                <span class="vld-SiteDescription"></span>
                            </div>
                            <div class="form-group text-center">
                                <input type="submit" class="btn btn-blue" value="Kaydet" />
                            </div>
                        </form>
                    </div>
                    <!--Genel Ayarlar içeriği-->
                    <!--Makale Ayarları-->
                    <div class="tab-item" id="article-setting">
                        <form asp-action="SaveArticleSettings" method="post" id="article-settings-form">
                            <div class="form-group">
                                <label class="label"><strong>Varsayılan Kategori</strong></label>
                                @await Component.InvokeAsync("CategoryList", new { id = Guid.Parse(articleSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("DefaultCategoryId")).Value)})
                                <span class="vld-DefaultCategoryId"></span>
                            </div>

                            <div class="form-group text-center">
                                <input type="submit" class="btn btn-blue" value="Kaydet" />
                            </div>
                        </form>
                    </div>
                    <!--Makale Ayarlar-->
                    <!--Resim Yükleme Ayarları-->
                    <div class="tab-item" id="image-setting">
                        <form asp-action="SaveFileUploadSettings" method="post" id="fileUpload-settings-form">
                            <div class="form-group">
                                <label class="label"><strong>Dosya Yükleme Yeri (Genel Dizin)</strong></label>
                                <input type="text" name="UploadPath" class="input" value="@fileUploadSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("UploadPath")).Value" />
                                <span class="vld-UploadPath"></span>
                            </div>
                            <div class="form-group">
                                <label class="label"><strong>Dizin Şekli</strong></label>
                                <label class="label">
                                    <input type="checkbox" id="chk_UploadDirType" value="true" @(fileUploadSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("UploadDirType")).Value == "True" ? "checked" : "") />&nbsp;&nbsp;&nbsp;Yüklemeleri aylık -ve yıllık- bazda klasörlerde tut.
                                </label>
                                <input type="hidden" id="UploadDirType" name="UploadDirType" value="@fileUploadSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("UploadDirType")).Value" />
                            </div>
                            <div class="form-group">
                                <h5>Görsel Boyutları</h5>
                            </div>
                            <div class="form-group">
                                <label class="label"><strong>Küçük Resim (Thumbnail)</strong></label>
                                <div class="input-group">
                                    <input type="number" name="ImageSmallWidth" class="input" placeholder="Genişlik" value="@fileUploadSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("ImageSmallWidth")).Value" />
                                    <div class="group-text">
                                        <i class="fa-duotone fa-xmark-large fa-fw"></i>
                                    </div>
                                    <input type="number" name="ImageSmallHeight" class="input" placeholder="Yükseklik" value="@fileUploadSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("ImageSmallHeight")).Value" />
                                </div>
                                <span class="vld-ImageSmallWidth"></span>
                                <span class="vld-ImageSmallHeight"></span>
                            </div>

                            <div class="form-group">
                                <label class="label">
                                    <input type="checkbox" id="chk_ThumbIsRatioResize" value="true" @(fileUploadSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("ThumbIsRatioResize")).Value == "True" ? "checked" : "") />&nbsp;&nbsp;&nbsp;Thumnail resimleri en-boy oranını koruyarak boyutlandır.
                                </label>
                                <input type="hidden" id="ThumbIsRatioResize" name="ThumbIsRatioResize" value="@fileUploadSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("ThumbIsRatioResize")).Value" />
                            </div>

                            <div class="form-group">
                                <label class="label"><strong>Orta Resim</strong></label>
                                <div class="input-group">
                                    <input type="number" name="ImageMediumWidth" class="input" placeholder="Genişlik" value="@fileUploadSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("ImageMediumWidth")).Value" />
                                    <div class="group-text">
                                        <i class="fa-duotone fa-xmark-large fa-fw"></i>
                                    </div>
                                    <input type="number" name="ImageMediumHeight" class="input" placeholder="Yükseklik" value="@fileUploadSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("ImageMediumHeight")).Value" />
                                </div>
                                <span class="vld-ImageMediumWidth"></span>
                                <span class="vld-ImageMediumHeight"></span>
                            </div>

                            <div class="form-group">
                                <label class="label">
                                    <input type="checkbox" id="chk_MediumIsRatioResize" value="true" @(fileUploadSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("MediumIsRatioResize")).Value == "True" ? "checked" : "") />&nbsp;&nbsp;&nbsp;Orta büyüklükte resimleri en-boy oranını koruyarak boyutlandır.
                                </label>
                                <input type="hidden" id="MediumIsRatioResize" name="MediumIsRatioResize" value="@fileUploadSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("MediumIsRatioResize")).Value" />
                            </div>

                            <div class="form-group">
                                <label class="label"><strong>Büyük Resim</strong></label>
                                <div class="input-group">
                                    <input type="number" name="ImageLargeWidth" class="input" placeholder="Genişlik" value="@fileUploadSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("ImageLargeWidth")).Value" />
                                    <div class="group-text">
                                        <i class="fa-duotone fa-xmark-large fa-fw"></i>
                                    </div>
                                    <input type="number" name="ImageLargeHeight" class="input" placeholder="Yükseklik" value="@fileUploadSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("ImageLargeHeight")).Value" />
                                </div>
                                <span class="vld-ImageLargeWidth"></span>
                                <span class="vld-ImageLargeHeight"></span>
                            </div>

                            <div class="form-group">
                                <label class="label">
                                    <input type="checkbox" id="chk_LargeIsRatioResize" value="true" @(fileUploadSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("LargeIsRatioResize")).Value == "True" ? "checked" : "") />&nbsp;&nbsp;&nbsp;Büyük resimleri en-boy oranını koruyarak boyutlandır.
                                </label>
                                <input type="hidden" id="LargeIsRatioResize" name="LargeIsRatioResize" value="@fileUploadSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("LargeIsRatioResize")).Value" />
                            </div>

                            <div class="form-group text-center">
                                <input type="submit" class="btn btn-blue" value="Kaydet" />
                            </div>
                        </form>
                    </div>
                    <!--Resim Yükleme Ayarları-->
                    <!--Mail Ayarları-->
                    <div class="tab-item" id="mail-setting">
                        <form asp-action="SaveMailSettings" method="post" id="mail-settings-form">
                            <div class="form-group">
                                <label class="label"><strong>E-Posta Sunucusu</strong></label>
                                <input type="text" name="EmailHost" class="input" value="@maillSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("EmailHost")).Value" />
                                <span class="vld-EmailHost"></span>
                            </div>
                            <div class="form-group">
                                <label class="label"><strong>E-Posta Adresi</strong></label>
                                <input type="text" name="EmailFrom" class="input" value="@maillSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("EmailFrom")).Value" />
                                <span class="vld-EmailFrom"></span>
                            </div>
                            <div class="form-group">
                                <label class="label"><strong>E-Posta Şifresi</strong></label>
                                <input type="password" name="EmailPassword" class="input" value="@maillSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("EmailPassword")).Value" />
                                <span class="vld-EmailPassword"></span>
                            </div>
                            <div class="form-group">
                                <label class="label"><strong>E-Posta Sunucu Port Numarası</strong></label>
                                <input type="number" name="EmailPort" class="input" value="@maillSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("EmailPort")).Value" />
                                <span class="vld-EmailPort"></span>
                            </div>

                            <div class="form-group text-center">
                                <input type="submit" class="btn btn-blue" value="Kaydet" />
                            </div>
                        </form>
                    </div>
                    <!--Mail Ayarları-->
                    <!--Yorum Ayarları-->
                    <div class="tab-item" id="comment-setting">
                        <form asp-action="SaveCommentSettings" method="post" id="comment-settings-form">
                            <div class="form-group">
                                <label class="label"><strong>Yorum Gösterim</strong></label>
                                <label class="label">
                                    <input type="checkbox" id="chk_IsShowComment" value="true" @(commentSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("IsShowComment")).Value == "True" ? "checked" : "") />&nbsp;&nbsp;&nbsp;Makale yorumlarını göster.
                                </label>
                            </div>

                            <div class="form-group">
                                <label class="label"><strong>Yorum Yayınlama</strong></label>
                                <label class="label">
                                    <input type="checkbox" id="chk_IsApproveComment" value="true" @(commentSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("IsApproveComment")).Value == "True" ? "checked" : "") />&nbsp;&nbsp;&nbsp;Yorumlar yönetici onayından sonra yayınlansın.
                                </label>
                            </div>

                            <div class="form-group text-center">
                                <input type="submit" class="btn btn-blue" value="Kaydet" />
                            </div>

                            <input type="hidden" id="IsShowComment" name="IsShowComment" value="@commentSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("IsShowComment")).Value" />
                            <input type="hidden" id="IsApproveComment" name="IsApproveComment" value="@commentSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("IsApproveComment")).Value" />
                        </form>
                    </div>
                    <!--Yorum Ayarları-->
                    <!--Sayfalama Ayarları-->
                    <div class="tab-item" id="paging-setting">
                        <form asp-action="SavePagingSettings" method="post" id="paging-settings-form">
                            <div class="form-group">
                                <label class="label"><strong>Kullanıcı Sayfalama Değeri</strong></label>
                                <input type="text" name="UserPagingSize" class="input" value="@pagingSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("UserPagingSize")).Value" />
                                <span class="vld-UserPagingSize"></span>
                            </div>
                            <div class="form-group">
                                <label class="label"><strong>Admin Sayfalama Değeri</strong></label>
                                <input type="text" name="AdminPagingSize" class="input" value="@pagingSetting.Settings.FirstOrDefault(s => s.SettingKey.Equals("AdminPagingSize")).Value" />
                                <span class="vld-AdminPagingSize"></span>
                            </div>

                            <div class="form-group text-center">
                                <input type="submit" class="btn btn-blue" value="Kaydet" />
                            </div>
                        </form>
                    </div>
                    <!--Sayfalama Ayarları-->
                </div>
                <!--Tab İçerik-->
            </div>

        </div>
        <!--Genel ayarlar-->
        <!--Genel ayarlar-->
        <div class="col-4">

            <div class="card">
                <div class="card-header">
                    <h4>@generalSetting.Name</h4>
                </div>
                <div class="card-body pd">@generalSetting.Description</div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4>@articleSetting.Name</h4>
                </div>
                <div class="card-body pd">@articleSetting.Description</div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4>@fileUploadSetting.Name</h4>
                </div>
                <div class="card-body pd">@fileUploadSetting.Description</div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4>@maillSetting.Name</h4>
                </div>
                <div class="card-body pd">@maillSetting.Description</div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4>@commentSetting.Name</h4>
                </div>
                <div class="card-body pd">@commentSetting.Description</div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4>@pagingSetting.Name</h4>
                </div>
                <div class="card-body pd">@pagingSetting.Description</div>
            </div>

        </div>
        <!--Genel ayarlar-->

    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {

        var select = document.getElementById('ParentId');
        select.setAttribute('name', 'DefaultCategoryId');

        var checkboxes = document.querySelectorAll('[id*=chk_]');
        checkboxes.forEach((element) => {
            var idValue = element.getAttribute('id').replace('chk_', '');
            element.addEventListener('change', (e) => {
                var chk_value = document.getElementById(idValue);
                chk_value.value = e.currentTarget.checked ? 'True' : 'False';
            });
        });

        FormValidation.init({
            formSelector: '#general-settings-form',
            sendAjax: true,
            inputs: [
                {
                    name: 'SiteUrl',
                    rules: [
                        { rule: 'required', message: 'Site URL alanı zorunludur.' }
                    ],
                },
                {
                    name: 'SiteTitle',
                    rules: [
                        { rule: 'required', message: 'Site başlığı alanı zorunludur.' }
                    ],
                },
                {
                    name: 'SiteSlogan',
                    rules: [
                        { rule: 'required', message: 'Site Slogan alanı zorunludur.' }
                    ],
                },
                {
                    name: 'SiteDescription',
                    rules: [
                        { rule: 'required', message: 'Site açıklama alanı zorunludur.' }
                    ],
                }
            ]
        });

        FormValidation.init({
            formSelector: '#article-settings-form',
            sendAjax: true,
            inputs: [
                {
                    name: 'DefaultCategoryId',
                    rules: [
                        { rule: 'required', message: 'Varsayılan kategori seçilmesi zorunludur.' }
                    ],
                }
            ]
        });

        FormValidation.init({
            formSelector: '#fileUpload-settings-form',
            sendAjax: true,
            inputs: [
                {
                    name: 'UploadPath',
                    rules: [
                        { rule: 'required', message: 'Dosya yükleme ana klasörünü seçmelisiniz.' }
                    ],
                },
                {
                    name: 'ImageSmallWidth',
                    rules: [
                        { rule: 'required', message: 'Küçük resim genişliği alanı zorunludur.' }
                    ],
                },
                {
                    name: 'ImageSmallHeight',
                    rules: [
                        { rule: 'required', message: 'Küçük resim yüksekliği alanı zorunludur.' }
                    ],
                },
                {
                    name: 'ImageMediumWidth',
                    rules: [
                        { rule: 'required', message: 'Orta resim genişliği alanı zorunludur.' }
                    ],
                },
                {
                    name: 'ImageMediumHeight',
                    rules: [
                        { rule: 'required', message: 'Orta resim yüksekliği alanı zorunludur.' }
                    ],
                },
                {
                    name: 'ImageLargeWidth',
                    rules: [
                        { rule: 'required', message: 'Büyük resim genişliği alanı zorunludur.' }
                    ],
                },
                {
                    name: 'ImageLargeHeight',
                    rules: [
                        { rule: 'required', message: 'Büyük resim yüksekliği alanı zorunludur.' }
                    ],
                },
            ]
        });

        FormValidation.init({
            formSelector: '#mail-settings-form',
            sendAjax: true,
            inputs: [
                {
                    name: 'EmailHost',
                    rules: [
                        { rule: 'required', message: 'E-posta sunucu adresi alanı zorunludur.' }
                    ],
                },
                {
                    name: 'EmailFrom',
                    rules: [
                        { rule: 'required', message: 'Gönderici E-posta alanı zorunludur.' }
                    ],
                },
                {
                    name: 'EmailPassword',
                    rules: [
                        { rule: 'required', message: 'E-posta şifre alanı zorunludur.' }
                    ],
                },
                {
                    name: 'EmailPort',
                    rules: [
                        { rule: 'required', message: 'E-posta sunucusu port numarası alanı zorunludur.' }
                    ],
                }
            ]
        });

        FormValidation.init({
            formSelector: '#comment-settings-form',
            sendAjax: true,
            inputs: []
        });

        FormValidation.init({
            formSelector: '#paging-settings-form',
            sendAjax: true,
            inputs: [
                {
                    name: 'UserPagingSize',
                    rules: [
                        { rule: 'required', message: 'Kullanıcı sayfalama boyutu alanı zorunludur.' }
                    ],
                },
                {
                    name: 'AdminPagingSize',
                    rules: [
                        { rule: 'required', message: 'Yönetici sayfalama boyutu alanı zorunludur.' }
                    ],
                }
            ]
        });
    });
</script>